<div class="top-wrapper">
  <h2>ジェファサッカークラブ　活動スケジュールサイト</h2>
  <% if @administrator_user %>
    <h3><strong>管理者</strong>でログイン中です。ユーザ情報やＭＡＰ情報の編集など可能です。</h3>

  <% elsif @current_user %>
    <h3><strong>ユーザログイン</strong>中です。スケジュールの確認など可能です。</h3>

  <% else %>
    <h3>ログインしてからスケジュール確認などお願いします</h3>

  <% end %>

  <div class="top-message">
    <br>
    <p>ボールがある子供の前にきたとしましょう。</p>
    <br>
    <p>右に蹴るか左に蹴るか。前に送るか後ろに送るか。浮かせるかライナーにするか・・・。</p>
    <p>無限の選択肢が秘められている丸いボールにどんな命を吹き込むか、</p>
    <p>すべてがその子の創造性に委ねられています。</p>
    <p>サッカーほど、子供の創造性をのばすことのできるスポーツは類をみません。</p>
    <p>そのとき、もし、イメージ通りにボールをコントロールできる的確な技術があったなら、</p>
    <p>子供たちは自分自身を表現することの楽しさをおもいっきり味わうことができるでしょう。</p>
    <br>
    <p>クラブでの日常のトレーニングは</p>
    <p>「周りを観て、ボールを止めて、ボールを渡す」というサッカーの最も基本となる動作を</p>
    <p>正確に、多彩に、すばやく行うための基本的な技術の習得を中心に組み立てられ、</p>
    <p>指導においては一流の選手たちの高度なテクニックがモデルとなります。</p>
    <p>そんな難しいことは無理だとおもわれるでしょうか？</p>
    <p>子供は真っ白いキャンパスです。</p>
    <p>サッカーに関していえば、選手としての能力の９０％は小・中学生までで決まってしまいます。</p>
    <p>
      <span>
        <この大切な時期></span>に、本物を与えてあげる事が肝要です。</p>
      <p>要は「正しい見本」を繰り返し示してあげること、</p>
      <p>又「楽しく学べる動機付け」をしてあげることでしょう。</p>
      <p>クラブでは、きっちりとしたデモンストレーションを示しながら、</p>
      <p>一人一人の子供の個性と到達度に合わせて、無理なく習得まで導いていきます。</p>
      <br>
      <p>子供には無限の可能性が秘められています。</p>
      <p>Ｊリーガーになりたい、ワールドカップに出たい・・・。</p>
      <p>そんなお子さまの夢を今は大切に育んであげたいとおもいます。</p>
      <p>限られた時間の中で豊かな創造力を育み、</p>
      <p>それを表現できる喜びを、精一杯子供たちに伝えていきたいとおもいます。</p>
      <br>
      <p>クラブ創設者 リ・ジェファ</p>

    </div>

</div>
