<div class="schedule-container">
<div class="schedule-header">
<a href="/events/index">戻る</a>
<h1>スケジュール確認・登録</h1>

タイトル：<input type="text" value="<%=@event.title %>" disabled ><br>
開始：<input type="datetime" value="<%=@event.start %>" disabled ><br>
終了：<input type="datetime" value="<%=@event.end %>" disabled ><br>
場所：（後で準備します。）

</div>

<div class="schedule-show-attendance">


</div>

<div class="schedule-show-index">


</div>



</div>
